@use 'variaveis';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/13/20/balloons-1869790_1280.jpg"); /* Verifique se está apontando para a imagem correta */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    background-color: transparent; 
    color: variaveis.$dark-color; 


    .container {
        position: relative;
        z-index: 1; 

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        z-index: 0; 
    }


    .hero__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
        color: variaveis.$dark-color;
        background-color: transparent;
        z-index: 1; 

        
        @media (max-width: 768px) {
            font-size: 32px;
            line-height: 40px;
            margin: 32px 0;
        }

        @media (max-width: 640px) {
            font-size: 28px;
            line-height: 36px;
            margin: 24px 0;
        }
    }

    /* Logo responsivo */
    .hero__logo {
        max-width: 200px;
        height: auto;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            max-width: 150px;
        }

        @media (max-width: 640px) {
            max-width: 120px;
        }
    }

    .button {
        margin-top: 16px;
        background-color: variaveis.$primary-color;
        color: variaveis.$background-color;
        padding: 12px 24px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: variaveis.$prymary-color1;
        }
    }
    
    /* Responsividade geral */
    @media (max-width: 640px) {
        padding: 40px 0;
        .hero__text {
            font-size: 22px;
            line-height: 28px;
            margin: 24px 0;
        }

        .button {
            padding: 10px 20px;
            font-size: 14px;
        }
    }
}
}