$corPrincipal: rgb(0, 78, 197);
$cordeTextoPrincipal: rgb(255, 255, 255);
$cordeTextoSecundario: #1e272e;
$corBotoes: rgb(175, 101, 40);
$corFundo: rgb(112, 67, 40);
$corBotaesDois:  rgb(219, 113, 26);