$primary-color: #4F2AC3;
$secondary-color: #FFD700;
$dark-color: #000;
$light-color: #fff;
$background-color: #f4f4f4;
$button-padding: 12px 24px;
$font-size-large: 18px;
$font-size-medium: 16px;
$light-color: #ADD8E6;
$prymary-color1:  #3c1e99;